<%= form_with(model: interview_reminder) do |form| %>
  <% if interview_reminder.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(interview_reminder.errors.count, "error") %> prohibited this interview_reminder from being saved:</h2>

      <ul>
        <% interview_reminder.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div>

    <%# debugger %>
    <%= form.label :company_name %>
    <%= form.text_field :company_name%>
  </div>


<%= form.select :user, User.all.collect {|p| [ p.email, p.id ] } %>

  <div class="field">
    <%= form.label :applied_link%>
    <%= form.text_field :applied_from %>
  </div>


  <div class="field">
    <%= form.label :interview_date %>
    <%= form.datetime_field :interview_date %>
  </div>

  <div class="field">
    <%= form.label :duration %>
    <%= form.text_field :duration %>
  </div>

  <div class="field">
    <%= form.label :interview_round %>
    <%= form.text_field :interview_round %>
  </div>

  <div class="field">
    <%#= form.label :question %>
    <%#= form.cktext_area :question %>
  </div>
<!-- 
<div class="field">
<b>Status:</b>
<%#= form.label :status, "Applied"  %>
<%#= form.radio_button :status, true %>
<%#= form.label :status, "Not Applied" %>
<%#= form.radio_button :status, false %>
</div></br> -->



  <div class="field">
    <%= form.number_field :user_id,id: :interview_reminder_user_id, class:"form-control", value:current_user.id, type: :hidden %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
</div>