<p id="notice"><%= notice %></p>

<style type="text/css">
/*    .container {
    width: 1080px;
    margin: 20px auto;
    background-color: #fefefe;
    color: #222;
    padding: 20px;
  }*/

    table {
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    line-height: 150%;
    border-radius: 4px;
    background-color: #EAFAF1;
    box-shadow: 0 0 6px #666666;
  }
</style>

<div><h1>Interview Reminders</h1></div>
<div class="container">

<table class="table table-striped responsive text-center">
  <thead>
    <tr>
      <th>Company name</th>
      <th>Applied by</th>
      <th>Interview date</th>
      <th>Duration</th>
      <th>Interview round</th>
      <th>Question</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @interview_reminders.each do |interview_reminder| %>
      <tr>
        <td><%= interview_reminder.company_name %></td>
        <td><%= interview_reminder.applied_by %></td>
<<<<<<< HEAD
        <td><%#= interview_reminder.interview_date.strftime("%Y-%m-%d %I:%M") %></td>
=======
        <td><%= interview_reminder.interview_date.strftime("%Y-%m-%d %I:%M") %></td>
>>>>>>> 6f92786a2693411576b8b7958fbe395123fa7e1c
        <td><%= interview_reminder.duration %></td>
        <td><%= interview_reminder.interview_round %></td>
        <td><%= interview_reminder.question %></td>
        <td><%= link_to 'Show', interview_reminder,class:"btn btn-primary" %></td>
        <td><%#= link_to 'Reschedule interview', edit_interview_reminder_path(interview_reminder), class:"btn btn-success " %></td>
        <td><%= link_to 'Destroy', interview_reminder, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %></td>
<% if interview_reminder.status == false%>
        <td><%= link_to 'Destroy', interview_reminder, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %></td>
        <td><%= link_to 'Reschedule interview', edit_interview_reminder_path(interview_reminder), class:"btn btn-primary " %></td>
        <td><%= link_to 'Done', done_interview_reminder_path(interview_reminder),  data: { confirm: 'Are you sure Interview has been taken ?' }, class:"btn btn-success " %></td>
         <%else%>
         <td></td>
         <td></td>
         <td></td>
      </tr>
    <% end %>
  </tbody>
  <% end %>
</table>

<br>
<div>
<<<<<<< HEAD
 
=======
  <%= link_to 'Home',root_path, class:"btn btn-outline-primary" %>
>>>>>>> 6f92786a2693411576b8b7958fbe395123fa7e1c
</div>
<div>
<%= link_to 'New Interview Reminder', new_interview_reminder_path, class:"btn btn-outline-primary"  %>
</div>
</div>

<td><%#= user.email %></td>