<html>
<%= form_with(model: portal) do |form| %>
  <% if portal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(portal.errors.count, "error") %> prohibited this portal from being saved:</h2>

      <ul>
        <% portal.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :company_name, "Company Name:"%>
    <%= form.text_field :company_name %>
  </div></br>

  <div class="field">
    <%= form.label :applied_from, "Applied From:" %>
    <%= form.select :applied_from, [['LinkedIn', 'LinkedIn'], ['Job Portal', 'Job Portal'], ['Company Website', 'Company Website']], {}, :"data-selects-visibility" => ".sub_form" %>
    <%= form.text_field :applied_from %>
    

  </div></br>

  <div class="field">
    <%= form.label :date_of_application, "Date Of Application:" %>
    <%= form.date_select :date_of_application %>
  </div></br>

  <div class="field">
    <b>Status:</b>
    <%= form.label :status, "Applied"  %>
    <%= form.radio_button :status, true %>
    <%= form.label :status, "Not Applied" %>
    <%= form.radio_button :status, false %>
  </div></br>


<div class="field">
    <%= form.number_field :user_id,id: :portal_user_id, class:"form-control", value:current_user.id, type: :hidden %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div></br>
<% end %>
</html>


<script>
$(function() {
  function selectVisibility() {
    var selector = $($(this).attr('data-selects-visibility'));
    if ($(this).is('input[type="checkbox"]')) {
      if ($(this).is(':checked')) {
        value = '_checked';
      } else {
        value = '_unchecked';
      }
    } else if ($(this).is('input[type=radio]')) {
      var checkedRadioButton = $(this).closest('form').find('input[type="radio"][name="' + $(this).attr('name') + '"]:checked');
      if (checkedRadioButton.length > 0) {
        value = checkedRadioButton.val();
      }
    } else {
      var value = $(this).val();
    }
    if (!value) {
      value = '_blank';
    }
    selector.filter('[data-show-for]:not([data-show-for~="' + value + '"])').hide();
    selector.filter('[data-hide-for~="' + value + '"]').hide();
    selector.filter('[data-hide-for]:not([data-hide-for~="' + value + '"])').show();
    selector.filter('[data-show-for~="' + value + '"]').show();
  }

  $(this).find('[data-selects-visibility]').change(selectVisibility);
  $(this).find('select[data-selects-visibility]').each(selectVisibility);
  $(this).find('input[data-selects-visibility][type="checkbox"]').each(selectVisibility);
  $(this).find('input[data-selects-visibility][type="radio"]:checked').each(selectVisibility);
});
</script>
