
<div id="railskart_portals">


<style type="text/css">
/*    .container {
    width: 1080px;
    margin: 20px auto;
    background-color: #fefefe;
    color: #222;
    padding: 20px;
  }*/

    table {
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    line-height: 150%;
    border-radius: 4px;
    background-color: #EAFAF1;
    box-shadow: 0 0 6px #666666;
  }
</style>
<div>
  <div class="card-header text-center">
  <h1>Railskart Portals</h1>
</div></br>
<div class="container">
<table class="table table-striped responsive text-center">
  <thead>
    <tr>
      <th>Company Name</th>
      <th>Applied From</th>
      <th>Applied Link</th>
      <th>Date Of Application</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @portals.each do | portal| %>
    <tr>
        <td><%= portal.company_name %></td>
        <td><%= portal.applied_from %></td>
        <td><%= link_to 'Visit Url', "http://#{portal.applied_from_link}", class:"btn btn" %></td>
        <td><%= portal.date_of_application %></td>
        <td> <% if portal.status == true %>
                Applied
                <%else%>
                Not Applied
                <%end%>
        </td>
        <td><%= link_to "SHOW", portal,class:"btn btn-primary" %></td>
        <td><%= link_to "Shedule interview",shedule_interview_portal_path(portal), data: { confirm: 'Shedule A Interview ?' },class: "btn btn-primary" %> </td>
      </tr>
        
  </tbody>
    <% end %>
</table>
<br/>




<div class="card-footer text-center">
  <%= link_to 'New Railskart Portal', new_portal_path, class:"btn btn-primary" %>
</div>



    <div>
  <%= link_to 'Home',root_path, class:"btn btn-outline-primary" %>
</div>



